body{
    font-family: 'Spline Sans', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
}
#mission-color{
    color: hotpink;
}
.h1-border{
    font-size: 50px;
}
.side-border{
    border-left: 2px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
    margin-right: 5px;
}
.link-button{
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(hotpink, yellow);
    border-radius: 5px;
    background-position: center;
    padding: 5px;
}
.half-width{
    width: 50%;
    margin-left: 5px;

}
.display-flex{
    display: flex;
    direction: row;
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px;
    margin-bottom: 20px;
}
.image{
    height: 400px;
    width: 400px;
    width: 90%;
}
.left-margin{
    margin-left: 20px;

}
.paragrapg{
    width: 90%;
}
#scroll{
    margin-top: 20px;
}
span{
    color: sandybrown;
}
#mission{
    text-align: center;
    font-size: 50px;
}
.mission{
    font-size: 30px;
}
.display-flex-var1{
    display: table;
    background-color: wheat;
    background-position: center;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
 
}
.display-flex-var2{
    display: table;
    background-color: coral;
    background-position: center;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
 
}
.display-flex-var3{
    display: table;
    background-color: thistle;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
 
}
.illustrator1{
    height: 100px;
    width: 100px;
}
.paragraph1{
    width: 50%;
}
.third-width{
    width: 25%;
    height: 250px;
    margin-left: 20px;
}
.display1-flex{
    display: flex;
    margin: 10px;
    padding: 5px;
}